    body{
                        font-size: 1em;
                        font-family: arial;
                        position: absolute;
                        left: 25%;
                        color:red;
                    }
